:root {
  --primary-color: #39958c;
  --secondary-color: #7fcbc4;
  --soft-color: #d0ebea;
  --txtMain-color: #728f9e;
  --txtSoftBlack-color: #444648;
  --bg-color: #fdffff;
  --bgGray-color: #f8f9fa;
  --red-color: #da678a;
}
