/* src/components/common/FilterButton.css */
.filter-button {
  height: 50px;
  width: 50px;
  background-color: var(--soft-color);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.filter-button:hover {
  opacity: 0.8;
}
.filter-dropdown input[type='checkbox'] {
  width: 16px; /* קבע את הרוחב הרצוי */
  height: 16px; /* קבע את הגובה הרצוי */
  margin-right: 5px; /* רווח בין הצ'קבוקס לטקסט */
}

.filter-dropdown label {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add space between checkboxes */
}

.filter-dropdown input[type='checkbox'] {
  margin-right: 5px; /* Add space between checkbox and label text */
}

.filter-dropdown button {
  margin-top: 10px; /* Adjust the margin as needed */
  width: 100%; /* Make the button take the full width of the container */
}
