body {
  font-family: Arial, sans-serif;
  background-color: var(--bgGray-color);
  margin: 0;
  padding: 20px;
}

.contact-section {
  text-align: center;
  padding: 20px;
}

.contact-section h2 {
  color: var(--soft-color);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-group {
  width: 100%;
  max-width: 400px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--soft-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--txtSoftBlack-color);
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.submit-button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .contact-form {
    width: 100%;
    max-width: 300px;
  }

  .form-group {
    width: 100%;
  }

  .form-group input,
  .form-group textarea {
    text-align: center;
  }
  .contact-section .form-group {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 5px 0;
  }
  .submit-button {
    width: 100%;
  }
}
